<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jinja tag</title>
</head>
<body>
    <center>
    <h1>{{a}}</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio perspiciatis labore commodi eligendi explicabo id recusandae quidem fuga minima voluptatum, nemo Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima nihil quibusdam, labore possimus nulla dolor laudantium quas inventore quos, ut eum. Perspiciatis consequatur, similique at molestias eligendi nesciunt deserunt officiis.facilis! Facilis, adipisci recusandae! Dicta ratione expedita laboriosam possimus.</p>
</center>
</body>
</html>